.header {
  padding: 26px 0;
  margin-bottom: 30px;
}

.header__wraper {
  max-width: 1815px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner { 
  width: 100%;
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: 56px;
}

.header__call {
  appearance: none;
  border: none;
  margin-right: 61px; 
  border-bottom: 2px dashed var(--red);
  background-color: transparent;
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 1.21;
  text-transform: uppercase;
  color: var(--red);
  cursor: pointer;
}

.header__burger {
  margin-right: 31px;
}

.header__logo {
  margin-right: 52px;
}

.header__search {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.header__like {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.header__social {
  margin-right: 50px;
}

.header__phone {
  margin-right: 70px;
  font-size: 1rem;
  color: var(--blue);
  cursor: pointer;
}

.header__phone--black {
  color: var(--black);
}

.header__contacts {
  display: flex;
}

@media(max-width: 768px){
 .header__contacts {
  display: none;
 }

 .header__logo {
  flex-grow: 1;
 }

 .header__burger {
  margin-right: 0px;
  margin-left: 25px;
 }
}