@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600;700;800&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

html {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

:root {
--index: calc(1vw + 1vh);
--blue: #4C858B;
--white: #FFFFFF;
--black: #000000;
--red: #AE2236;
--dark-red: #E33E54;
--light-grey: #E5E5E5;
--middle-grey: #B1B1B1;
--orange: #EA6628;
--dark-green: #215359;
--dark--blue: #0C2F33;
}

.sidebar {
  display: none;
}

 




.red {
  color: var(--dark-red);
}

 .container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1248px;
  width: 100%;
} 








.form {
  max-width: 866px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 50px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, .15);
}
 
.form__main {
  display: flex;
} 

.input {
  width: calc(33.3333% - 16px);
  margin: 8px;
}

.input__state{
  width: 100%;
  padding: 17px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  outline: none;
  appearance: none;
}

.form__title,
.form__subtitle {
  margin-left: 8px;
}

.orange-text {
  font-weight: 700;
  color: var(--orange);
}

.form__title {
  font-size: 1.43rem;
  font-weight: 500;
  line-height: 22px;
  color: var(--black);
}

.btn {
  width: calc(33.3333% - 16px);
  margin: 8px;
  background-color:var(--dark-green);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.14rem;
  font-weight: 700;
  padding: 17px 0px;
  text-align: center;
}





.blue {
  font-weight: 400;
  line-height: 24px;
  color: var(--blue);
}

@media(max-width: 320px){
  .form{
    padding: 0;
    box-shadow: none;
  }

  .form__main {
    flex-direction: column;
    align-items: center;
  }

  .form__title {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.444;
    text-align: center;
  }

  .form__subtitle {
    font-size: 0.875rem;
    margin: 0;
    text-align: center;
  }

  .input {
    width: 100%;
    margin-bottom: 8px;
  }

  .btn {
    width: calc(90% - 16px);
    font-size: 1rem;
  }
}
