.burger__icon {
  width: clamp(42px, 10vw, 58px);
  height: 56px;
  /* width: 56px;
  height: 56px; */
}

@media(max-width: 768px){
 .burger {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  order: 3;
 }
}