.section__main-title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: 40px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.section__paragraph {
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: 1.87;
  color: var(--black);
}

.section__breadcrumb {
  margin-bottom: 80px;
}

.section__list {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-auto-flow: column;
  gap: 15px;
  align-items: center;
}

.section__social {
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  margin-bottom: 40px;
}

.section__item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.87;
  font-weight: 500;
  color: var(--black);
}

.section__digit {
  margin-right: 21px;
  font-size: 4.37rem;
  font-weight: 700;
  color: var(--dark-red);
  opacity: 0.2;
}

.section__title--position {
  margin-bottom: 10px;
  font-size: 3.12rem;
  font-weight: 800;
  line-height: 0.8;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.section__paragraph--position {
  margin-bottom: 30px;
  font-size: 1.37rem;
  font-weight: 300;
  line-height: 1.81;
  color: var(--black);
  text-align: center;
}

.section__video {
  width: 100%;
  position: relative;
} 

.section__iframe {
  width: 734px;
  /* width: calc(var(--index) * 30); */
  /* width: 100px; */
  height: 400px; 
  position: absolute;
  top: 10%;
  right: 25%;
  z-index: 50; 
}

.section__subtitle {
  font-size: 3.57rem;
  font-weight: 800;
  line-height: 63px;
  color: var(--dark-red);
}

.section__benefits {
  margin-left: 50px;
}

.section__main {
  display: flex;
  position: relative;
}

.section__background {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.section__image {
  position: absolute;
  bottom: 20%;
  right: -3%;
  z-index: 2;
}

.section__left-dots,
.section__right-dots{
  width: 36px;
  height: 130px;
  position: absolute;
  z-index: 2;
}

.section__left-dots {
  top: 20%;
  left: 60%;
  transform: translate(-20%, -60%);
}

.section__right-dots {
  bottom: -8%;
  right: -8%;
  transform: translate(-8%, -8%);
}

.section__left-triangle, 
.section__right-triangle {
  width: 77px;
  height: 19px;
  position: absolute;
  z-index: 2;
}

.section__left-triangle {
  top: 30%;
  left: 53%;
  transform: translate(-30%, -53%);
}

.section__right-triangle {
  top: 10%;
  right: -10%;
  transform: translate(-10%, 10%);
}

.section__left-dots--position {
  top: 70%;
  left: 7%;
  transform: translate(-70%, -7%);
}

.section__right-dots--position {
  bottom: 70%;
  right: 13%;
  transform: translate(-70%, -13%);
}

.section__line {
  width: 74px;
  height: 5px;
  margin-bottom: 11px;
  background-color: var(--dark-red);
  border: none;
}

@media(max-width: 768px){
 .section__main-title {
  font-size: 2.81rem;
 }

 .section__picture {
  display: none;
 }

 .section__paragraph {
  margin-bottom: 19px;
 }

 .section__item {
  font-size: 0.875rem;
 }

 .section__digit {
  font-size: 3.125rem;
 }

 .section__title {
  margin-bottom: 37px;
  font-size: 1.875rem;
 }

 .section__title--position {
  margin-bottom: 5px;
  font-size: 2.5rem;
  line-height: 0.75; 
  white-space: nowrap; 
}

 .section__paragraph--position {
  font-size: 1rem;
 }

 .section__preview {
  display: none;
 }

 .section__iframe {
  width: 100%;
  position: static;
 }

.section__breadcrumb {
  margin-bottom: 80px;
 }
}

@media(max-width: 320px){
  .section__main-title {
    font-size: 1.875rem;
    margin-bottom: 11px;
  }
  .section__title {
    font-size: 1.25rem;
    line-height: 1.875;
  }
  .section__title--position {
    font-size: 1.375rem;
    line-height: 1.363;
    white-space: normal;
  }

  .section__list {
    grid-auto-flow: row;
  }

  .section__iframe {
    height: 50%;
    position: static;
  }

  .section__breadcrumb {
    margin-bottom: 16px;
  }

  .section__paragraph {
    flex: 0.875rem;
  }

  .section__list {
    gap: 0px;
  }
}