.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.nav__link {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.43;
  text-transform: uppercase;
  color: var(--blue);
  cursor: pointer;
}

@media(max-width: 768px){
 .nav {
  display: none;
 }
}